<% layout ('layouts/boilerplate') %>

    <div class="row">
    <h1 class="text-center">Edit Field</h1>
    <div class="col-6 offset-3">
        <form action="/fields/<%= field._id %>?_method=PUT" method="POST">

            <div class="mb-3">
            <label class= "form-label"for="title">Title</label>
            <input class="form-control" type="text" id = "title" name="field[title]" value="<%=field.title %>">
        </div>
        <div class="mb-3">
            <label class= "form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="field[location]" value="<%=field.location %>">

        </div>
        <div class="mb-3">
            <label class= "form-label" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="field[image]" value="<%=field.image %>">

        </div>

        <div class="mb-3">
            <label class= "form-label" for="fieldType">Field Type</label>
            <input class="form-control" type="text" id="fieldType" name="field[fieldType]" value="<%=field.fieldType %>">

        </div>

        <div class="mb-3">
            <label class= "form-label" for="phone">Phone Number</label>
            <input class="form-control" type="text" id="phone" name="field[phone]" placeholder="(123)-456-7890">

        </div>

        <div class="mb-3">
            <button class="btn btn-info">Save Field Changes</button>
        </div>
        <a href="/fields">All Fields</a>
        
        </form>
        <a href="/fields/<%= field._id %>">Back to Fields</a>

    </div>
</div>