<% layout ('layouts/boilerplate') %>
    <h1>All Fields</h1>
    <div>
        <a href="/fields/new">Add Field</a>
    </div>
    
        <% for(let field of fields ){%>
            <div class="card" mb-3>
                <div class="row">

                
                <div class="col-md-4">
                    <% if (field.images && field.images.length) { %>
                        <img class="img-fluid" alt="" src="<%= field.images[0].url %>">
                    <% } else { %>
                        <div class="img-fluid bg-light d-flex align-items-center justify-content-center text-muted" style="min-height: 200px;">No image</div>
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=field.title %></h5>
                        <p class="card-text"><%= field.location %></p>
                        <p class="card-text"><%=field.phone %></p>
                        <p class="text-muted"><%= field.fieldType %></p>
                        <a class="btn btn-primary" href="/fields/<%=field._id%>">View <%= field.title %></a>
                    </div>
                </div>
            </div>
        </div>
       <% } %>
    
