<% layout ('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
        <img src="<%=field.image%>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%=field.title %></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%=field.location%></li>
            <li class="list-group-item"><%=field.fieldType%></li>
            <li class="list-group-item"><%=field.phone%></li>
        </ul>
        <div class="card-body">
            <a class="card-link btn btn-info d-inline" href="/fields/<%=field._id%>/edit">Edit</a>
            <a class="card-link btn btn-danger d-inline" href="/fields/<%=field._id%>?_method=DELETE">Delete</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
        </div>
    </div>
</div>
    <footer>
        <a href="/fields">All Fields</a>
        <a href="/fields/<%= field._id%>/edit">Edit</a>
    </footer>
