<% layout ('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
        <img src="<%=field.image%>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%=field.title %></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%=field.location%></li>
            <li class="list-group-item"><%=field.fieldType%></li>
            <li class="list-group-item"><%=field.phone%></li>
        </ul>
        <% if(currentUser && field.author.equals(currentUser._id)) {%>
        <div class="card-body">
            <a class="card-link btn btn-info" href="/fields/<%=field._id%>/edit">Edit</a>
            <form action="/fields/<%=field._id%>?_method=DELETE" method="POST" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>
        <div class="card-footer text-muted d-flex justify-content-between">
            <span>Submitted by <%= field.author.username.charAt(0).toUpperCase() + field.author.username.slice(1) %></span>
            <span>2 days ago</span>
</div>
        </div>

    </div>
    <div class="col-6">
        <h3>Leave a Review</h3>
        <form action="/fields/<%=field._id%>/reviews" method="POST" class="mb-3 validatedform" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" step="1" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="2" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-primary">Submit Review</button>
            </form>
            <% for (let review of field.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><strong>Rating</strong>: <%= review.rating %></h5>
                    <p class="card-text"><strong>Review:</strong> <%= review.body %></p>
                    <form action="/fields/<%=field._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
                
            </div>
            <% } %>
    </div>
</div>
    <footer>
        <a href="/fields">All Fields</a>
        <a href="/fields/<%= field._id%>/edit">Edit</a>
    </footer>
